@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");

:root {
  --primary: #865dff;
  --light: #ffffff;
  --dark: #222222;
  --red: #f31559;
  --blue: #279eff;
  --yellow: #ffa41b;
  --green: #539165;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-image: linear-gradient(rgba(138, 138, 138, 0.5), rgba(120, 120, 120, 0.5)), url("https://www.sussexcampervans.com/application/files/7316/7059/0183/city-of-london-4481399_1920.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}