@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 1000;
}

header .navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
}

.navbar .logo {
  color: #62d7ec;
  font-weight: 450;
  font-size: 1.8rem;
  text-decoration: none;
}

.navbar .logo span {
  color: rgb(255, 255, 255);
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 140px;
  margin: 0;
  padding: 0;
}

.menu-links li {
  position: relative;
  width: 100%;
}

.menu-links .dropdown-menu {
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: max-height 1s ease;
  position: absolute;
  background-color: #24242463;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.616);
  padding: 10px 0;
  z-index: 1000;
  text-align: left;
  font-size: 15px;
  width: 200px;
}

.menu-links .dropdown-menu a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.menu-links .dropdown-menu a:hover {
  background-color: #333;
}

.menu-links li:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 200px;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  transition: 0.2s ease;
  font-size: 1rem;
}

.navbar a:hover {
  color: #0c34b8;
  font-size: 0.7rem;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 30px;
}

.hero-section {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://images7.alphacoders.com/135/1354756.png");
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

.hero-section .content {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.hero-section .content h2 {
  font-size: 3rem;
  max-width: 600px;
  line-height: 70px;
  color: #fff !important;
}

.hero-section .content p {
  font-weight: 300;
  max-width: 600px;
  margin-top: 15px;
  color: #fff !important;
}

.hero-section .content button {
  background: #fff;
  padding: 12px 30px;
  border: none;
  font-size: 1rem;
  border-radius: 6px;
  margin-top: 38px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
  color:black;
}

.hero-section .content button:hover {
  color: #fff;
  background: #62d7ec;
}

#close-menu-btn {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  display: none;
}

#hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
}